aiohttp==3.8.4
aiosignal==1.3.1
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.2.0
awscli==1.22.34
backcall==0.2.0
blinker==1.4
botocore==1.23.34
certifi==2020.6.20
chardet==4.0.0
charset-normalizer==3.1.0
colorama==0.4.4
comm==0.1.3
command-not-found==0.3
cryptography==3.4.8
dataclasses-json==0.5.7
dbus-python==1.2.18
debugpy==1.6.7
decorator==5.1.1
distlib==0.3.6
distro==1.7.0
distro-info===1.1build1
docutils==0.17.1
executing==1.2.0
filelock==3.6.0
frozenlist==1.3.3
greenlet==2.0.2
httplib2==0.20.2
idna==3.3
importlib-metadata==4.6.4
ipykernel==6.22.0
ipython==8.12.0
jedi==0.18.2
jeepney==0.7.1
jmespath==0.10.0
jupyter_client==8.2.0
jupyter_core==5.3.0
keyring==23.5.0
langchain==0.0.137
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib-inline==0.1.6
more-itertools==8.10.0
multidict==6.0.4
mypy-extensions==1.0.0
nest-asyncio==1.5.6
netifaces==0.11.0
numpy==1.24.2
oauthlib==3.2.0
olefile==0.46
openapi-schema-pydantic==1.2.4
packaging==23.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pipenv==2023.2.18
platformdirs==2.5.1
prompt-toolkit==3.0.38
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pydantic==1.10.7
Pygments==2.11.2
PyGObject==3.42.1
PyJWT==2.3.0
pyparsing==2.4.7
python-apt==2.4.0+ubuntu1
python-dateutil==2.8.2
PyYAML==5.4.1
pyzmq==25.0.2
requests==2.25.1
roman==3.3
rsa==4.8
s3transfer==0.5.0
SecretStorage==3.3.1
six==1.16.0
SQLAlchemy==1.4.47
stack-data==0.6.2
systemd-python==234
tenacity==8.2.2
tornado==6.2
traitlets==5.9.0
typing-inspect==0.8.0
typing_extensions==4.5.0
ubuntu-advantage-tools==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.15
virtualenv==20.21.0
virtualenv-clone==0.3.0
wadllib==1.3.6
wcwidth==0.2.6
yarl==1.8.2
zipp==1.0.0
